.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.block {
  padding-top: 100%;
  position: relative;

  img {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
  }
}
