:root {
	--black: #1f1f1f;
	--dark-blue: #2a2a9c;
	--blue: #3549ff;
	--gray: rgb(234, 234, 234);
	--white: rgb(255, 255, 255);
}

html {
	scroll-behavior: smooth;
}

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;

	background-color: var(--blue);
	color: var(--white);
	font-size: 14px;

	@media only screen and (min-width: 600px) {
		font-size: 16px;
	}
}

body {
	margin: 0;
}

a {
	text-transform: inherit;
	color: inherit;
	text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
}

h2 {
	font-size: 52px;
	margin-bottom: 0.25em;

	@media only screen and (min-width: 600px) {
		font-size: 10vw;
	}
}

h3 {
	font-size: 21px;
	max-width: 28em;
	line-height: 1.2;

	@media only screen and (min-width: 600px) {
		font-size: 2.75vw;
	}

	@media only screen and (min-width: 1600px) {
		font-size: 2.25vw;
	}

	& + & {
		margin-bottom: 0.5em;
	}
}

h4 {
	font-size: 18px;
	max-width: 28em;

	@media only screen and (min-width: 600px) {
		font-size: 2vw;
	}
}

table {
	text-align: left;
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;

	a {
		cursor: pointer;
		border-bottom: 1px solid var(--white);
	}

	tr,
	th,
	td {
		font: inherit;
		vertical-align: top;
	}

	th,
	td {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	td + td,
	th + th {
		padding-left: 1rem;
	}

	tr {
		& > :first-child {
			padding-left: 1rem;
		}

		& > :last-child {
			padding-right: 1rem;
		}
	}

	thead {
	}

	tbody {
		tr:nth-child(odd) {
			background-color: var(--dark-blue);
		}
	}
}

strong {
	font-size: 600;
}

mark {
	color: inherit;
	background-color: transparent;
	opacity: 0.7;
}
